.container {
    width: 70vw;
    height: 70vh;
    border: 3px solid black;
    background-color: cornflowerblue;
    display: flex;
    gap: 20px;
    margin: 100px;
}

.box {
    width: 80px;
    height: 80px;
    border: 3px solid black;
    background-color: coral;
    margin: auto;
    text-align: center;
}

p {
    padding: auto;
    font-size: large;
    font-weight: 500;
}